h1{
    background-color: blanchedalmond;
    text-align: center;
}
*{


    margin: 0;
}
.container{
    border-width: 5 px;
    border-style: solid;
    border-color:black;
    width: 700px;
    margin: 0 auto;
}
.price{
font-size: 20px;
font-weight: bolder;
}
a{
 color: black;
}
a:hover{
    text-decoration: none;
}
.submitbutton{
    background-color: black;
    color: white;
    width: 100%;
}
.submitbutton:hover{
    background-color: white;
    color: black;
}
